* {
  box-sizing: border-box;
}

body,ul,a{
  padding:0;
  margin:0;
  list-style:none;
  text-decoration: none;
}

/* 清除浮动 */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

